$utilities: map-merge(
    $utilities,
    (
        "font-size":
            map-merge(
                map-get($utilities, "font-size"),
                (
                    responsive: true,
                )
            ),
        "rounded":
            map-merge(
                map-get($utilities, "rounded"),
                (
                    responsive: true,
                )
            ),
    )
);
