.gradient-border {
    position: relative;
}

.gradient-border::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(
        to right,
        transparent,
        $natural-85,
        transparent
    );
}

.nav-foot-fill {
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    @include media-breakpoint-up(xl) {
        padding: 0.5rem 1.5rem;
    }

    &:hover {
        background-color: $natural-90;
    }
    &:active {
        background-color: $natural-90;
    }
}
