// 分頁標籤
.nav-pills .nav-link {
    background-color: $white;
    border: 1px solid $natural-85;

    &.active {
        background-color: $natural-90;
        border: 1px solid $natural-90;
    }

    &:hover {
        background-color: $natural-90;
        border: 1px solid $natural-90;
    }
}

// 側邊欄寬
.side-width {
    width: 100%;

    @include media-breakpoint-up(md) {
        width: 200px;
    }

    @include media-breakpoint-up(xl) {
        width: 300px;
    }
}

// 個人資料
.modal-header {
    padding: 8px 16px 8px 24px;
}

.modal-dialog-480 {
    max-width: 480px;
}

// 預約記錄
table {
    .table-cell {
        padding: 11.5px 8px;

        @include media-breakpoint-up(md) {
            padding: 11.5px 12px;
        }
    }

    .table-cell-main {
        padding: 10px 8px;
    }
}
